%h1 Shopping List

= link_to "Products", products_path, title: "Go to the list of products", class: "btn btn-link"

%table.table.table-striped.table-bordered
  %thead
    %th Name
  %tbody
    - @items.all.each do |item|
      - @item = item
      = render 'item'