development:
  adapter: postgresql
  encoding: unicode
  database: simple_shopping_list_development
  pool: 5
  username: simple_shopping_list
  password:

test:
  adapter: postgresql
  encoding: unicode
  database: simple_shopping_list_test
  pool: 5
  username: simple_shopping_list
  password:

# production not necessary to deploy to Heroku
